# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Resume uploads
backend/uploads/*

# Node
frontend/node_modules/
frontend/dist/

# Vite
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/